<ul *ngIf="!loading && !error">
  <li *ngFor="let u of users">
    <h3>{{ u.name }}</h3>
    
    <!-- Disponibilités publiques -->
    <strong>Disponibilités :</strong>
    <ul>
      <li *ngFor="let d of u.availabilities">
        {{ d.date }} de {{ d.start_time }} à {{ d.end_time }}
      </li>
      <li *ngIf="u.availabilities?.length === 0">Aucune disponibilité</li>
    </ul>

    <strong>Compétences proposées :</strong>
    <ul>
      <li *ngFor="let c of u.proposees">
        {{ c.name }}
      </li>
      <li *ngIf="u.proposees.length === 0">Aucune compétence proposée</li>
    </ul>

    <strong>Compétences recherchées :</strong>
    <ul>
      <li *ngFor="let c of u.recherchees">
        {{ c.name }}
      </li>
      <li *ngIf="u.recherchees.length === 0">Aucune compétence recherchée</li>
    </ul>

    <button class="btn-contacter" (click)="demanderEchange(u.id)">Contacter</button>
    <button class="btn-supprimer" *ngIf="currentUser?.role === 'admin'" (click)="supprimerUser(u.id)">
      Supprimer
    </button>

    <p *ngIf="messageMap[u.id]" style="color: green;">{{ messageMap[u.id] }}</p>
  </li>
</ul>
